{% extends 'accounts/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="{% url 'create_poll' %}" class="btn btn-sm btn-outline-secondary">
            + Create New Poll
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Ongoing Polls</h3>
        <div class="list-group">
            {% for poll in ongoing_polls %}
            <a href="{% url 'poll_details' poll.id %}" class="list-group-item list-group-item-action">
                {{ poll.name }} ({{ poll.poll_type|title }})
                 <span class="badge bg-primary rounded-pill">Ends: {{ poll.end_date|date:"M d, Y H:i" }}</span>
            </a>
            {% empty %}
            <div class="alert alert-info">No ongoing polls</div>
            {% endfor %}
        </div>
    </div>
    
    <div class="col-md-6">
        <h3>Completed Polls</h3>
        <div class="list-group">
            {% for poll in completed_polls %}
            <a href="{% url 'poll_details' poll.id %}" class="list-group-item list-group-item-action">
                {{ poll.name }} ({{ poll.poll_type|title }})
                 <span class="badge bg-primary rounded-pill">Ends: {{ poll.end_date|date:"M d, Y H:i" }}</span>
            </a>
            {% empty %}
            <div class="alert alert-info">No completed polls</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}